.node3d-canvas {
  width: 100%;
  height: 100%;
  cursor: crosshair;
  display: block;
  margin-left: var(--xv-sidebar-offset, 252px);
  width: calc(100% - var(--xv-sidebar-offset, 252px));
}

@media (max-width: 820px) {
  .node3d-canvas {
    margin-left: 0;
    width: 100%;
  }
}
